*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#0F172A;
    color:white;
    line-height:1.6;
}

.hero{
    text-align:center;
    padding:80px 20px;
    background:linear-gradient(135deg,#1E3A8A,#2563EB);
}

.hero h1{
    font-size:3rem;
}

.hero p{
    margin:15px 0;
    font-size:1.2rem;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:white;
    color:#2563EB;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
}

.btn:hover{
    background:#E2E8F0;
}

section{
    padding:60px 10%;
}

h2{
    text-align:center;
    margin-bottom:30px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card{
    background:#1E293B;
    padding:25px;
    border-radius:15px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
    background:#2563EB;
}

.skill-list{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
}

.skill-list span{
    background:#2563EB;
    padding:10px 20px;
    border-radius:25px;
}

footer{
    text-align:center;
    padding:25px;
    background:#111827;
}
